/alire/
/config/
/obj/
/lib/
/bin/
/dist/

tests/alire/
tests/config/
tests/obj/
tests/bin/
tests/generated/

tools/ssllib_tools/alire/
tools/ssllib_tools/config/
tools/ssllib_tools/obj/
tools/ssllib_tools/bin/

examples/alire/
examples/config/
examples/obj/
examples/bin/

*.o
*.ali
*.gcda
*.gcno
gnatprove/
